body, html {
	 height: 100%;
	 margin: 0;
	 font-family: 'Red Rose', cursive;
	 font-weight: 400;
	 line-height: 30px;
}

/* Start Pagina Principala */

.meniu {
	width: 100%;
	background-color: #0f2f5b75;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
}

.pag1, .pag2 {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100%;
	background-color: #dde4fb8f;
} 

.pag1 {
	background-image: url('img/4.jpg');
}

.pag2 {
	background-image: url('img/101.jpg');
}

.oferte {
	width: 29%;
	height: 480px;
	margin: 40px 10px 10px 40px;
	float: left;
	background-color: #ecf0fdb8;
	border-radius: 15px;
}

.pag2>.oferte>img {
	width: 100%;
	height: 300px;
	border-radius: 15px 15px 0 0;	
}

.oferte>p, h4 {
	padding: 10px;
	line-height: 20px;
}

.meniu > ul >li > a {
	text-decoration: none;
	color: #f1f330;
	font-weight: bold;
}

.meniu > ul >li>a:hover {
	color: white;
	position: relative;
	bottom: 3px;
}

.pag2 > #rezerva > a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.pag2 > #rezerva > a:hover {
	color: white;
	font-weight: bold;
}

#ptext {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #e1de15;
	font-size: 30px;
	text-transform:uppercase;
}

.footer{
	padding-top: 15px;
	background-color: #dde4fb;
	float: left;
	width: 100%;
}

#sectiune{
	padding: 20px 50px;
	text-align: left;
	background-color: #dde4fb8f;
}

#rezerva {
	width: 20%;
	border-radius: 15px;
	text-align: center;
	position: absolute;
	top: 85%;
	left: 40%;
	font-size: 25px;
	padding: 10px;
	background-color:  #ecf0fdb8;
	float: left;
}

a {
	text-decoration: none;
	color: red;
	font-weight: bold;
}

p {
	color: black;
	font-size: 15px;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
	padding-top:6px;
	padding-bottom:6px;
	display: inline
}

li {
	display: inline;
	padding-left: 14%;
}

table {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 20px;
}


/* End Pagina Principala */

/* Start Galerie */

.header {
    width: 100%;
    overflow:hidden;
	background-image: url('img/300.jpg');
	height: 200px;	
	background-attachment: fixed;
	background-color: #dde4fb8f;
}

#exploreaza, #gal {
	background-color: #dde4fb8f;
	width: 100%;
}

#imagini>img {
	height: 200px;
	width: auto;
	padding: 20px;
	margin: 0 auto;
}

#imagini>img:hover {
	transform: scale(1.8);	
}

/* End Galerie */

/* Start Exploreaza */

.map{
	margin:0 auto;
	width: 80%;
}

.child {
	max-width: 95%;
	margin: 10px auto;
	height: auto;
	background: rgba(255,255,255,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	padding: 20px;
}

.map>img {
	height: 700px;
	width: 100%;
	margin-top: 20px;
	background: rgba(255,255,255,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
}

.child>img {
	margin: 10px;
	width: 300px;
	float: left;
	height: 180px;
}

/* End Exploreaza */

/* Start Rezervari */

.formular {
	width: 40%;
	padding: 20px;
	border-radius: 5px;
	background-color: #f2f2f245;	
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	float: right;
	margin: 2% 5%;
}

h2, p {
	line-height: 20px;
	padding: 5px;
}

input[type=text],input[type=email],input[type=tel], textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}

#contact {
	float: left;
	width: 30%;
	margin: 2% 5%;
}
/* End Rezervari */

@media (max-width: 1160px) {
	.oferte {
		width: 25%;
		height: auto;
		margin: 40px 10px 10px 40px;
		float: left;
		background-color: #ecf0fdb8;
		border-radius: 15px;
	}

	.oferte>p, h4 {
		padding: 5px;
		line-height: 20px;
		font-size: 13px;
	}
	
	.pag2>.oferte>img {
		width: 100%;
		height: 200px;
		border-radius: 15px 15px 0 0;
		float: left;
		margin-right: 5px;
	}
	
	.pag2 {
	background-image: url('img/101.jpg');
	min-height: 500px;
	}
	
	#rezerva {
		width: 20%;
		border-radius: 15px;
		text-align: center;
		position: absolute;
		font-size: 25px;
		padding: 10px;
		background-color:  #ecf0fdb8;
		float: left;
	}
}

@media (max-width: 1125px) {
	.formular{
		width: 70%;
		padding: 10px;
		margin: 5% 15%;
	}
	
	li {
		padding-left: 10%;
	}
	
	#contact {
		width: 100%;
	}
}

@media (max-width: 600px) {
	.oferte {
		width: 25%;
		margin: 20px;
		height: 300px;
	}
	.pag2 > .oferte > img {
		width: 145px;
		height: 100px;
	}
	.map > img {
		height: 300px;
	}
}


